header {
	background-color: white !important;
	/*box-shadow :0 0px 0px #ccc !important;*/
}


/*下拉刷新图标css*/

.mui-pull-caption {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 100;
	color: #4CD964;
	opacity: 0.6;
}


/*下拉刷新的箭头颜色*/

.mui-icon-refresh:before {
	content: '';
}

.mui-icon-refresh {
	background-color: #FF0000 !important;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	border: 2px solid;
	border-color: #4CD964 #4ACC86 transparent #2AC845;
	height: 25px;
	width: 25px;
	background: transparent !important;
	display: inline-block;
}


/*下拉刷新圆形进度条的大小和样式*/

.mui-spinner {
	background-color: #FF0000 !important;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	border: 2px solid;
	border-color: #4CD964 #4ACC86 #2AC845 transparent;
	height: 25px;
	width: 25px;
	background: transparent !important;
	display: inline-block;
	-webkit-animation: rotate 0.5s 0s linear infinite;
	animation: rotate 0.5s 0s linear infinite;
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg) scale(1);
		transform: rotate(0deg) scale(1);
	}
	50% {
		-webkit-transform: rotate(180deg) scale(0.6);
		transform: rotate(180deg) scale(0.6);
	}
	100% {
		-webkit-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1);
	}
}

.mui-spinner:after {
	background: none;
}


/*上拉刷新的箭头颜色*/

.mui-icon-pulldown {
	color: #FF0000 !important;
}

.mui-pull-top-pocket {
	height: 150px;
}

.mui-pull {
	top: 0px;
}

.mui-table-view-cell {}


/*下拉菜单CSS - start*/

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.bounce-in-down {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@-webkit-keyframes fadeInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.fade-in-down {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
}

@keyframes bounceOutUp {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
}

.bounce-out-up {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

@-webkit-keyframes fadeOutUp {
	20% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
}

@keyframes fadeOutUp {
	20% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -99%, 0);
		transform: translate3d(0, -99%, 0);
	}
}

.fade-out-up {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

.menu-open {
	height: 100%;
	width: 100%;
}

.menu-backdrop {
	display: none;
}

.menu-open .menu-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 997;
}

.menu-wrapper {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: left;
	background-color: #ccc;
	width: 50%;
}

.mui-table-view-inverted {
	background: #FF8247 !important;
	border-radius: 0px 0px 5px 0px !important;
}

.menu-wrapper.hidden {
	-webkit-transform: translate3d(0, -99%, 0);
	transform: translate3d(0, -99%, 0);
	z-index: -1;
}

.menu {
	width: 100%;
}

.menu .mui-table-view-inverted {
	color: #fff;
	font-size: 19px;
	font-family: "微软雅黑";
}
.mui-table-view-inverted:before{
	background: #FF7F00 !important;
}

.menu .mui-table-view-inverted .mui-table-view-cell:after {
	height: 2px;
	left: 0;
	right: 0;
}

.menu-wrapper.mui-active,
.menu-wrapper.mui-active .menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
